Repository LateStation14/Late-station-14, pull requests merged in 2025-06, with the labels that each got.

#75 Wist's & Iris' Personal items + Cleanup
  Resources/Prototypes/_LateStation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_LateStation/PersonalItems/Items/irisglasses.yml
  Resources/Prototypes/_LateStation/PersonalItems/Items/jamescane.yml
  Resources/Prototypes/_LateStation/PersonalItems/Items/wistmantle.yml
  Resources/Textures/_LateStation/PersonalItems/hopmantlewist.rsi/equipped-NECK.png
  Resources/Textures/_LateStation/PersonalItems/hopmantlewist.rsi/icon.png
  Resources/Textures/_LateStation/PersonalItems/hopmantlewist.rsi/meta.json
  Resources/Textures/_LateStation/PersonalItems/irisglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/_LateStation/PersonalItems/irisglasses.rsi/equipped-EYES.png
  Resources/Textures/_LateStation/PersonalItems/irisglasses.rsi/icon.png
  Resources/Textures/_LateStation/PersonalItems/irisglasses.rsi/inhand-left.png
  Resources/Textures/_LateStation/PersonalItems/irisglasses.rsi/inhand-right.png
  Resources/Textures/_LateStation/PersonalItems/irisglasses.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#76 Chameleon LGBTQ+ Mantles Port
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/_Harmony/tags.yml
  Resources/Textures/_Harmony/Clothing/Neck/mantles/acemantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/acemantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/acemantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aroacemantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aroacemantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aroacemantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aromantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aromantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aromantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/bisexualmantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/bisexualmantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/bisexualmantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/enbymantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/enbymantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/enbymantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/gaymantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/gaymantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/gaymantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/intersexmantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/intersexmantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/intersexmantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/lesbianmantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/lesbianmantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/lesbianmantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/pansexualmantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/pansexualmantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/pansexualmantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/rainbowmantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/rainbowmantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/rainbowmantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/transgendermantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/transgendermantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/transgendermantle.rsi/meta.json
Labels: size/M, Changes: Sprites, Changes: No C#, S: Needs Review

#77 Adds Brings' Hoodie
  Resources/Prototypes/_LateStation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_LateStation/PersonalItems/Items/bringshoodie.yml
  Resources/Textures/_LateStation/Clothing/OuterClothing/bringshoodie.rsi/equipped-OUTERCLOTHING-moth.png
  Resources/Textures/_LateStation/Clothing/OuterClothing/bringshoodie.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_LateStation/Clothing/OuterClothing/bringshoodie.rsi/icon-open.png
  Resources/Textures/_LateStation/Clothing/OuterClothing/bringshoodie.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/OuterClothing/bringshoodie.rsi/inhand-left.png
  Resources/Textures/_LateStation/Clothing/OuterClothing/bringshoodie.rsi/inhand-right.png
  Resources/Textures/_LateStation/Clothing/OuterClothing/bringshoodie.rsi/meta.json
  Resources/Textures/_LateStation/Clothing/OuterClothing/bringshoodie.rsi/open-equipped-OUTERCLOTHING-moth.png
  Resources/Textures/_LateStation/Clothing/OuterClothing/bringshoodie.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_LateStation/Clothing/OuterClothing/bringshoodie.rsi/open-inhand-left.png
  Resources/Textures/_LateStation/Clothing/OuterClothing/bringshoodie.rsi/open-inhand-right.png
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#78 Give Felinids a survival box
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#80 Austin's Moth Cloak
  Resources/Prototypes/_LateStation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_LateStation/PersonalItems/Items/austinmothcloak.yml
Labels: Changes: No C#, S: Needs Review, size/S
