Repository LateStation14/Late-station-14, pull requests merged in 2025-03, with the labels that each got.

#4 Adding Torpedo as a new map
  Resources/Maps/_Latestation/torpedo.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_LateStation/Maps/torpedo.yml
Labels: S: Untriaged, Changes: No C#, size/XL, Changes: Map

#5 Torpedo troubleshooting
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_LateStation/torpedo.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_LateStation/Maps/torpedo.yml
Labels: S: Untriaged, size/XL, Changes: Map

#6 Torpedo station update 1
  Resources/Maps/_LateStation/torpedo.yml
Labels: S: Untriaged, Changes: No C#, size/XL, Changes: Map, S: Needs Review

#8 Torpedo Update 2
  Resources/Maps/_LateStation/torpedo.yml
Labels: S: Untriaged, Changes: No C#, size/XL, Changes: Map, S: Needs Review

#9 Personalized plushies for the crew part 1.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Fun/Toys/toys.yml
  Resources/Textures/_LateStation/Objects/Fun/Toys/drafts-plushie.rsi/drafts-equipped-HELMET.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/drafts-plushie.rsi/drafts-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/drafts-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/garret-plushie.rsi/garret-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/garret-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/hides-plushie.rsi/hides-equipped-HELMET.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/hides-plushie.rsi/hides-inhand-left.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/hides-plushie.rsi/hides-inhand-right.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/hides-plushie.rsi/hides-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/hides-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/kicks-plushie.rsi/kicks-equipped-HELMET.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/kicks-plushie.rsi/kicks-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/kicks-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/lucerne-plushie.rsi/lucerne-equipped-HELMET.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/lucerne-plushie.rsi/lucerne-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/lucerne-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/quiet-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/quiet-plushie.rsi/quiet-equipped-HELMET.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/quiet-plushie.rsi/quiet-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/sleeps-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/sleeps-plushie.rsi/sleeps-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/snacks-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/snacks-plushie.rsi/snacks-equipped-HELMET.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/snacks-plushie.rsi/snacks-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/thriz-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/thriz-plushie.rsi/thriz-equipped-HELMET.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/thriz-plushie.rsi/thriz-plushie.png
Labels: size/M, S: Untriaged, Changes: Sprites, Changes: No C#, S: Needs Review

#10 FTL Mass limit increased from 300 to 1000
  Content.Shared/CCVar/CCVars.Shuttle.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#11 Anzu moth Markings
  Resources/Locale/en-US/_LateStation/markings/moth.ftl
  Resources/Prototypes/_LateStation/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Textures/_LateStation/Mobs/Customization/Moth/VS_moth_wings.rsi/meta.json
  Resources/Textures/_LateStation/Mobs/Customization/Moth/VS_moth_wings.rsi/softcoat_primary.png
  Resources/Textures/_LateStation/Mobs/Customization/Moth/VS_moth_wings.rsi/softcoat_secondary.png
  Resources/Textures/_LateStation/Mobs/Customization/Moth/VS_moth_wings.rsi/softcoat_tertiary.png
  Resources/Textures/_LateStation/Mobs/Customization/Moth/VS_moth_wings.rsi/voltaic_primary.png
  Resources/Textures/_LateStation/Mobs/Customization/Moth/VS_moth_wings.rsi/voltaic_scar.png
  Resources/Textures/_LateStation/Mobs/Customization/Moth/VS_moth_wings.rsi/voltaic_secondary.png
  Resources/Textures/_LateStation/Mobs/Customization/Moth/VS_moth_wings.rsi/voltaic_tertiary.png
Labels: S: Untriaged, Changes: Sprites, Changes: No C#, size/S

#12 Added Scarlet -plushie
  Resources/Prototypes/_LateStation/Entities/Objects/Fun/Toys/toys.yml
  Resources/Textures/_LateStation/Objects/Fun/Toys/scarlet-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/scarlet-plushie.rsi/scarlet-plushie.png
Labels: Changes: Sprites, Changes: No C#, size/S

#13 Community plushies, moth batch 1
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/syndiedrobe.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Fun/Toys/toys.yml
  Resources/Textures/_LateStation/Objects/Fun/Toys/atlas-plushie.rsi/atlas-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/atlas-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/eris-plushie.rsi/eris-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/eris-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/iris-plushie.rsi/iris-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/iris-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/juni-plushie.rsi/juni-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/juni-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/radios-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/radios-plushie.rsi/radios-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/rose-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/rose-plushie.rsi/rose-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/sam-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/sam-plushie.rsi/sam-plushie.png
Labels: size/M, Changes: Sprites, Changes: No C#, S: Needs Review

#14 Akatsumi Syndicate Cruiser
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_LateStation/akatsumi.yml
  Resources/Maps/_LateStation/shuttles/emergency_akatsumi.yml
  Resources/Prototypes/_LateStation/Maps/akatsumi.yml
Labels: S: Untriaged, Changes: No C#, size/XL, Changes: Map, S: Needs Review

#15 Update for Torpedo station numero 3
  Resources/Maps/_LateStation/torpedo.yml
Labels: S: Untriaged, Changes: No C#, size/XL, Changes: Map

#17 Aetherium batch 1
  Resources/Locale/en-US/_LateStation/reagents/experimental.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/chemicals.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Fun/Toys/toys.yml
  Resources/Prototypes/_LateStation/Reagents/Experimental.yml
  Resources/Prototypes/_LateStation/Recipes/Reactions/chemicals.yml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Experimental.xml
  Resources/ServerInfo/Guidebook/Chemicals.xml
Labels: Changes: No C#, S: Needs Review

#16 Akatsumi Maiden Voyage Hotfixes
  Resources/Maps/_LateStation/akatsumi.yml
  Resources/Prototypes/_LateStation/Maps/akatsumi.yml
Labels: Changes: No C#, size/XL, Changes: Map, S: Needs Review

#20 Valley Girl Accent
  Content.Server/_LateStation/Speech/Components/ValleyGirlAccentComponent.cs
  Content.Server/_LateStation/Speech/EntitySystems/ValleyGirlAccentSystem.cs
  Resources/Locale/en-US/_LateStation/accents/valleygirl.ftl
  Resources/Locale/en-US/_LateStation/traits/traits.ftl
  Resources/Prototypes/_LateStation/Accents/word_replacements.yml
  Resources/Prototypes/_LateStation/Traits/speech.yml
Labels: size/M, S: Needs Review

#22 Pushed a fix for PR #18
  Resources/Maps/_LateStation/akatsumi.yml
  Resources/Maps/_LateStation/shuttles/emergency_akatsumi.yml
  Resources/Prototypes/_LateStation/Maps/akatsumi.yml
Labels: Changes: No C#, Changes: Map, size/L, S: Needs Review

#26 Update Valley Girl Accent
  Content.Server/_LateStation/Speech/EntitySystems/ValleyGirlAccentSystem.cs
  Resources/Locale/en-US/_LateStation/accents/valleygirl.ftl
  Resources/Prototypes/_LateStation/Accents/word_replacements.yml
Labels: S: Needs Review, size/S

#27 Energy weapons part 1
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_LateStation/Recipes/Lathes/security.yml
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Battery/energy_autorifle.rsi/base.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Battery/energy_autorifle.rsi/equipped-BACKPACK.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Battery/energy_autorifle.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Battery/energy_autorifle.rsi/icon.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Battery/energy_autorifle.rsi/inhand-left.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Battery/energy_autorifle.rsi/inhand-right.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Battery/energy_autorifle.rsi/mag-unshaded-1.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Battery/energy_autorifle.rsi/mag-unshaded-2.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Battery/energy_autorifle.rsi/mag-unshaded-3.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Battery/energy_autorifle.rsi/mag-unshaded-4.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Battery/energy_autorifle.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Battery/energy_autorifle.rsi/wielded-inhand-left.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Battery/energy_autorifle.rsi/wielded-inhand-right.png
Labels: size/M, Changes: Sprites, Changes: No C#, S: Needs Review

#28 Aetherium Batch 2
  Resources/Locale/en-US/_LateStation/reagents/experimental.ftl
  Resources/Prototypes/_LateStation/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_LateStation/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_LateStation/Reagents/Experimental.yml
  Resources/Prototypes/_LateStation/Recipes/Reactions/chemicals.yml
  Resources/ServerInfo/Guidebook/Chemicals.xml
Labels: size/M, Changes: No C#

#30 Name fix for antag/ghost rolls
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/joints.yml
  Resources/Prototypes/Entities/Objects/Tools/decoys.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: No C#, S: Needs Review, size/S

#31 Aetherium batch 3
  Resources/Locale/en-US/_LateStation/reagents/experimental.ftl
  Resources/Locale/en-US/guidebook/chemistry/statuseffects.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_LateStation/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_LateStation/Reagents/Experimental.yml
  Resources/Prototypes/_LateStation/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_LateStation/status_effects.yml
  Resources/Prototypes/status_effects.yml
Labels: size/M, Changes: No C#

#34 Moth marking fixes
  Resources/Locale/en-US/_LateStation/markings/moth.ftl
  Resources/Prototypes/_LateStation/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Textures/_LateStation/Mobs/Customization/Moth/VS_moth_wings.rsi/meta.json
  Resources/Textures/_LateStation/Mobs/Customization/Moth/VS_moth_wings.rsi/softcoat_antennae.png
Labels: Changes: Sprites, Changes: No C#

#35 Torpedo update for custom shuttles.
  Resources/Maps/_LateStation/shuttles/cargo_torpedo.yml
  Resources/Maps/_LateStation/shuttles/emergency_torpedo.yml
  Resources/Prototypes/_LateStation/Maps/torpedo.yml
Labels: Changes: No C#, size/XL, Changes: Map

#36 Moth plushies part 3!
  Resources/Prototypes/_LateStation/Entities/Objects/Fun/Toys/toys.yml
  Resources/Textures/_LateStation/Objects/Fun/Toys/astrus-plushie.rsi/astrus-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/astrus-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/attacus-plushie.rsi/attacus-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/attacus-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/flap-plushie.rsi/flap-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/flap-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/sunny-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/sunny-plushie.rsi/sunny-plushie.png
  Resources/Textures/_LateStation/Objects/Fun/Toys/willow-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/willow-plushie.rsi/willow-plushie.png
Labels: size/M, Changes: Sprites, Changes: No C#, S: Needs Review

#37 Wheelchair Port from CD + Basic Vehicle Code
  Content.Client/Vehicle/VehicleSystem.cs
  Content.Server/Vehicle/VehicleSystem.cs
  Content.Shared/Vehicle/Components/InVehicleComponent.cs
  Content.Shared/Vehicle/Components/RiderComponent.cs
  Content.Shared/Vehicle/Components/VehicleComponent.cs
  Content.Shared/Vehicle/SharedVehicleSystem.Rider.cs
  Content.Shared/Vehicle/SharedVehicleSystem.cs
  Resources/Audio/Vehicle/attributions.yml
  Resources/Audio/Vehicle/vehicleengineidle.ogg
  Resources/Audio/Vehicle/vehiclestartup.ogg
  Resources/Locale/en-US/_CD/traits/traits.ftl
  Resources/Prototypes/Entities/Objects/Vehicles/actions.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/Vehicle/buckleable.yml
  Resources/Prototypes/_CD/Entities/Objects/Vehicles/buckleable.yml
  Resources/Prototypes/_CD/Traits/WheelchairBound/disabilities.yml
  Resources/Prototypes/_LateStation/Recipes/Lathes/medical.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_CD/Objects/Vehicles/Wheelchair.rsi/inhand-left.png
  Resources/Textures/_CD/Objects/Vehicles/Wheelchair.rsi/inhand-right.png
  Resources/Textures/_CD/Objects/Vehicles/Wheelchair.rsi/meta.json
  Resources/Textures/_CD/Objects/Vehicles/Wheelchair.rsi/vehicle.png
  Resources/Textures/_CD/Objects/Vehicles/Wheelchair.rsi/vehicle_folded.png
Labels: size/M, Changes: Sprites, Changes: Audio, S: Needs Review

#38 Fix for the status of the criminal records computer
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml.cs
  Content.Server/CriminalRecords/Systems/CriminalRecordsConsoleSystem.cs
Labels: S: Needs Review, Changes: UI, size/S
