Repository LateStation14/Late-station-14, pull requests merged in 2025-08, with the labels that each got.

#100 Vanquish Update 1.1
  Resources/Maps/_LateStation/shuttles/syndicate_cruiser.yml
  Resources/Maps/_LateStation/vanquish.yml
  git
Labels: Changes: No C#, Changes: Map, S: Needs Review

#101 Adds Polymorphine
  Resources/Locale/en-US/_LateStation/reagents/polymorphine.ftl
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/_LateStation/Reagents/Polymorphine.yml
  Resources/Prototypes/_LateStation/Recipes/Reactions/chemicals.yml
Labels: size/M, Changes: No C#, S: Needs Review

#103 Alot of fixes and other things
  .github/PULL_REQUEST_TEMPLATE.md
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/StationEvents/Components/VentCrittersRuleComponent.cs
  Content.Server/StationEvents/Events/VentCrittersRule.cs
  Content.Server/Traits/Assorted/NarcolepsyComponent.cs
  Content.Server/Traits/Assorted/NarcolepsySystem.cs
  Content.Shared/Bed/Sleep/SleepingSystem.cs
  Content.Shared/Ghost/GhostComponent.cs
  Content.Shared/_AXOLOTL/AxolotlCVars.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/meteorswarms.yml
  Resources/Prototypes/GameRules/pests.yml
Labels: size/M, S: Needs Review, Changes: UI

#106 Tutel
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/_LateStation/Entities/Clothing/Uniforms/color_turtleneck_skirts.yml
Labels: Changes: No C#, S: Needs Review, size/S

#105 New metrocop armor
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/_LateStation/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_LateStation/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/_LateStation/Clothing/Mask/metrocop.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_LateStation/Clothing/Mask/metrocop.rsi/equipped-MASK-vox.png
  Resources/Textures/_LateStation/Clothing/Mask/metrocop.rsi/equipped-MASK.png
  Resources/Textures/_LateStation/Clothing/Mask/metrocop.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Mask/metrocop.rsi/meta.json
  Resources/Textures/_LateStation/Clothing/Mask/metrocop.rsi/up-equipped-MASK-vox.png
  Resources/Textures/_LateStation/Clothing/Mask/metrocop.rsi/up-equipped-MASK.png
  Resources/Textures/_LateStation/Clothing/OuterClothing/Armor/metrocop.rsi/equipped-OUTERCLOTHING-dog.png
  Resources/Textures/_LateStation/Clothing/OuterClothing/Armor/metrocop.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_LateStation/Clothing/OuterClothing/Armor/metrocop.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_LateStation/Clothing/OuterClothing/Armor/metrocop.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/OuterClothing/Armor/metrocop.rsi/meta.json
Labels: size/M, Changes: Sprites, Changes: No C#, S: Needs Review

#109 Redoing most of the labelers and adding a reworked version of the reu…
  .github/labeler.yml
  .github/workflows/labeler-awaiting-changes.yml
  .github/workflows/labeler-conflict.yml
  .github/workflows/labeler-needsreview.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/labeler-review.yml
  .github/workflows/labeler-size.yml
  .github/workflows/labeler-stable.yml
  .github/workflows/labeler-staging.yml
  .github/workflows/labeler-untriaged.yml
  .github/workflows/reuse-updater.yml
Labels: size/M, Changes: No C#, S: Needs Review, Maintenance

#110 Lucy Price Personal Item
  Resources/Prototypes/_LateStation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_LateStation/PersonalItems/Items/lucytrenchcoat.yml
Labels: S: Untriaged, S: Needs Review, size/S
