Repository LateStation14/Late-station-14, pull requests merged in 2025-05, with the labels that each got.

#65 Update hijabchicvox.png
  Resources/Textures/_Impstation/Mobs/Customization/headcovers.rsi/hijabchicvox.png
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/XS

#66 UNIncrease role timers for seniority items
  Resources/Prototypes/Loadouts/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
Labels: Changes: No C#, S: Needs Review

#68 Floral & White Wedding Dresses
  Resources/Prototypes/_LateStation/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Textures/_LateStation/Clothing/Uniforms/Jumpskirt/floral_wedding_dress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_LateStation/Clothing/Uniforms/Jumpskirt/floral_wedding_dress.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Uniforms/Jumpskirt/floral_wedding_dress.rsi/meta.json
  Resources/Textures/_LateStation/Clothing/Uniforms/Jumpskirt/white_wedding_dress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_LateStation/Clothing/Uniforms/Jumpskirt/white_wedding_dress.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Uniforms/Jumpskirt/white_wedding_dress.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#70 two shuttles added
  Resources/Maps/Shuttles/NT-Biosphere_Base
  Resources/Maps/Shuttles/NT-Biosphere_OldEarthDiner
Labels: Changes: No C#, size/XL, S: Needs Review
