Repository LateStation14/Late-station-14, pull requests merged in 2025-04, with the labels that each got.

#39 Assorted tweaks
  Resources/Locale/en-US/_LateStation/game-ticking/game-presets/preset-late-extended.ftl
  Resources/Locale/en-US/_LateStation/reagents/experimental.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/_LateStation/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Fun/Toys/toys.yml
  Resources/Prototypes/_LateStation/GameRules/roundstart.yml
  Resources/Prototypes/_LateStation/Reagents/Experimental.yml
  Resources/Prototypes/_LateStation/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_LateStation/game_presets.yml
  Resources/Textures/_LateStation/Objects/Fun/Toys/wist-plushie.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Fun/Toys/wist-plushie.rsi/wist-plushie.png
Labels: Changes: Sprites, Changes: No C#, S: Needs Review

#41 The big emote fixening (and other bits)
  CONTRIBUTING.md
  Content.Server/_DeltaV/Speech/Components/ScottishAccentComponent.cs
  Content.Server/_DeltaV/Speech/EntitySystems/ScottishAccentSystem.cs
  Resources/Locale/en-US/_Harmony/emotes.ftl
  Resources/Prototypes/Species/species_weights.yml
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_DeltaV/SoundCollections/harpy.yml
  Resources/Prototypes/_DeltaV/Traits/speech.yml
  Resources/Prototypes/_DeltaV/Voice/felenid.yml
  Resources/Prototypes/_DeltaV/Voice/harpy.yml
  Resources/Prototypes/_DeltaV/Voice/speech_emotes.yml
Labels: size/M, S: Needs Review

#42 Harpy bugfix
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/specific.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#43 Add Scandinavian accent
  Content.Server/_LateStation/Speech/Components/ScandinavianAccentComponent.cs
  Content.Server/_LateStation/Speech/EntitySystems/ScandinavianAccentSystem.cs
  Resources/Locale/en-US/_LateStation/accents/scandinavian.ftl
  Resources/Locale/en-US/_LateStation/traits/traits.ftl
  Resources/Prototypes/_LateStation/Accents/word_replacements.yml
  Resources/Prototypes/_LateStation/Traits/speech.yml
Labels: size/M, S: Needs Review

#46 Jailbreak grids for the upcoming event
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_LateStation/shuttles/avenger.yml
  Resources/Maps/_LateStation/shuttles/jail.yml
  Resources/Maps/_LateStation/shuttles/salvador.yml
  Resources/Maps/_LateStation/shuttles/transportreclaimer.yml
Labels: Changes: No C#, size/XL, Changes: Map, S: Needs Review

#47 Aetherium minibatch
  Resources/Locale/en-US/_LateStation/reagents/experimental.ftl
  Resources/Locale/en-US/_LateStation/reagents/lunasolution.ftl
  Resources/Prototypes/_LateStation/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_LateStation/Reagents/Experimental.yml
  Resources/Prototypes/_LateStation/Recipes/Reactions/chemicals.yml
Labels: size/M, Changes: No C#, S: Needs Review

#40 Sierra - Reach Redesign by Amatiramatsu
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_LateStation/Sierra.yml
  Resources/Prototypes/Maps/sierra.yml
Labels: Changes: No C#, size/XL, Changes: Map, S: Needs Review

#50 Adding trident expeditions shuttle.
  Resources/Maps/_LateStation/shuttles/trident.yml
Labels: Changes: No C#, Changes: Map

#52 Moffership
  Resources/Maps/_LateStation/shuttles/chittermax.yml
Labels: Changes: No C#, size/XL, Changes: Map

#56 Brushies (and short bacon socks)
  Resources/Prototypes/_LateStation/Entities/Clothing/Under/Socks/under.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Specific/Service/brush.yml
  Resources/Textures/_LateStation/Clothing/Under/Socks/ShortBaconSocks.rsi/equipped-FEET.png
  Resources/Textures/_LateStation/Clothing/Under/Socks/ShortBaconSocks.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Under/Socks/ShortBaconSocks.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Tools/brush.rsi/icon.png
  Resources/Textures/_LateStation/Objects/Tools/brush.rsi/inhand-left.png
  Resources/Textures/_LateStation/Objects/Tools/brush.rsi/inhand-right.png
  Resources/Textures/_LateStation/Objects/Tools/brush.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#55 Scarves and AMR
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/_LateStation/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/antimateriel.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/lesbian_burnt.rsi/equipped-NECK.png
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/lesbian_burnt.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/lesbian_burnt.rsi/inhand-left.png
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/lesbian_burnt.rsi/inhand-right.png
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/lesbian_burnt.rsi/meta.json
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/lesbian_short.rsi/equipped-NECK.png
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/lesbian_short.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/lesbian_short.rsi/inhand-left.png
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/lesbian_short.rsi/inhand-right.png
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/lesbian_short.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Cannons/annabelle_syringe_gun.rsi/inhand-left.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Cannons/annabelle_syringe_gun.rsi/inhand-right.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Cannons/annabelle_syringe_gun.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Cannons/annabelle_syringe_gun.rsi/syringe_gun.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/base.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/bolt-open.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/equipped-BACKPACK.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/inhand-left.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/inhand-right.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/wielded-inhand-left.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/wielded-inhand-right.png
Labels: size/M, Changes: Sprites, Changes: No C#

#57 Long toothpaste and short toothpaste.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/_LateStation/Entities/Clothing/Neck/scarfs.yml
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/gay_long.rsi/equipped-NECK.png
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/gay_long.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/gay_long.rsi/inhand-left.png
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/gay_long.rsi/inhand-right.png
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/gay_long.rsi/meta.json
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/gay_short.rsi/equipped-NECK.png
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/gay_short.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/gay_short.rsi/inhand-left.png
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/gay_short.rsi/inhand-right.png
  Resources/Textures/_LateStation/Clothing/Neck/Scarfs/PrideScarfs/gay_short.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#58 Bunch of small stuff, clawlets
  Resources/Prototypes/_LateStation/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_LateStation/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/_LateStation/Clothing/Hands/Gloves/clawlets.rsi/equipped-HAND.png
  Resources/Textures/_LateStation/Clothing/Hands/Gloves/clawlets.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Hands/Gloves/clawlets.rsi/inhand-left.png
  Resources/Textures/_LateStation/Clothing/Hands/Gloves/clawlets.rsi/inhand-right.png
  Resources/Textures/_LateStation/Clothing/Hands/Gloves/clawlets.rsi/meta.json
  Resources/Textures/_LateStation/Clothing/Neck/mantles/hopmantlewist.rsi/equipped-NECK.png
  Resources/Textures/_LateStation/Clothing/Neck/mantles/hopmantlewist.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Neck/mantles/hopmantlewist.rsi/meta.json
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/base.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/bolt-open.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/equipped-BACKPACK.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/inhand-left.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/inhand-right.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/wielded-inhand-left.png
  Resources/Textures/_LateStation/Objects/Weapons/Guns/Snipers/anti-materiel_sniper.rsi/wielded-inhand-right.png
Labels: size/M, Changes: Sprites, Changes: No C#, S: Needs Review

#59 Brick.
  Resources/Prototypes/_LateStation/Objects/Weapons/Throwable/brick.yml
  Resources/Textures/_LateStation/Objects/Weapons/Throwable/brick.rsi/icon.png
  Resources/Textures/_LateStation/Objects/Weapons/Throwable/brick.rsi/inhand-left.png
  Resources/Textures/_LateStation/Objects/Weapons/Throwable/brick.rsi/inhand-right.png
  Resources/Textures/_LateStation/Objects/Weapons/Throwable/brick.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#60 Sleepemoting, and Narcolepsy forcesay.
  Content.Server/Traits/Assorted/NarcolepsyComponent.cs
  Content.Server/Traits/Assorted/NarcolepsySystem.cs
  Content.Shared/Bed/Sleep/SleepingSystem.cs
Labels: S: Needs Review, size/S

#61 Personal items logic
  Content.Shared/Preferences/Loadouts/Effects/PersonalItemLoadoutEffect.cs
  Resources/Locale/en-US/_Umbra/preferences/loadouts.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Fun/Toys/toys.yml
  Resources/Prototypes/_LateStation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_LateStation/PersonalItems/Items/jamescane.yml
  Resources/Prototypes/_LateStation/PersonalItems/Plushies/jamesplushie.yml
Labels: size/M, S: Needs Review

#62 Adding beanies as a new winterdrobe option.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/_LateStation/Entities/Clothing/Head/beanie.yml
  Resources/Textures/_LateStation/Clothing/Head/blackbeanie.rsi/equipped-HELMET.png
  Resources/Textures/_LateStation/Clothing/Head/blackbeanie.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Head/blackbeanie.rsi/inhand-left.png
  Resources/Textures/_LateStation/Clothing/Head/blackbeanie.rsi/inhand-right.png
  Resources/Textures/_LateStation/Clothing/Head/blackbeanie.rsi/meta.json
  Resources/Textures/_LateStation/Clothing/Head/bluebeanie.rsi/equipped-HELMET.png
  Resources/Textures/_LateStation/Clothing/Head/bluebeanie.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Head/bluebeanie.rsi/inhand-left.png
  Resources/Textures/_LateStation/Clothing/Head/bluebeanie.rsi/inhand-right.png
  Resources/Textures/_LateStation/Clothing/Head/bluebeanie.rsi/meta.json
  Resources/Textures/_LateStation/Clothing/Head/greenbeanie.rsi/equipped-HELMET.png
  Resources/Textures/_LateStation/Clothing/Head/greenbeanie.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Head/greenbeanie.rsi/inhand-left.png
  Resources/Textures/_LateStation/Clothing/Head/greenbeanie.rsi/inhand-right.png
  Resources/Textures/_LateStation/Clothing/Head/greenbeanie.rsi/meta.json
  Resources/Textures/_LateStation/Clothing/Head/greybeanie.rsi/equipped-HELMET.png
  Resources/Textures/_LateStation/Clothing/Head/greybeanie.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Head/greybeanie.rsi/inhand-left.png
  Resources/Textures/_LateStation/Clothing/Head/greybeanie.rsi/inhand-right.png
  Resources/Textures/_LateStation/Clothing/Head/greybeanie.rsi/meta.json
  Resources/Textures/_LateStation/Clothing/Head/purplebeanie.rsi/equipped-HELMET.png
  Resources/Textures/_LateStation/Clothing/Head/purplebeanie.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Head/purplebeanie.rsi/inhand-left.png
  Resources/Textures/_LateStation/Clothing/Head/purplebeanie.rsi/inhand-right.png
  Resources/Textures/_LateStation/Clothing/Head/purplebeanie.rsi/meta.json
  Resources/Textures/_LateStation/Clothing/Head/redbeanie.rsi/equipped-HELMET.png
  Resources/Textures/_LateStation/Clothing/Head/redbeanie.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Head/redbeanie.rsi/inhand-left.png
  Resources/Textures/_LateStation/Clothing/Head/redbeanie.rsi/inhand-right.png
  Resources/Textures/_LateStation/Clothing/Head/redbeanie.rsi/meta.json
  Resources/Textures/_LateStation/Clothing/Head/yellowbeanie.rsi/equipped-HELMET.png
  Resources/Textures/_LateStation/Clothing/Head/yellowbeanie.rsi/icon.png
  Resources/Textures/_LateStation/Clothing/Head/yellowbeanie.rsi/inhand-left.png
  Resources/Textures/_LateStation/Clothing/Head/yellowbeanie.rsi/inhand-right.png
  Resources/Textures/_LateStation/Clothing/Head/yellowbeanie.rsi/meta.json
Labels: size/M, Changes: Sprites, Changes: No C#, S: Needs Review
