Repository LateStation14/Late-station-14, pull requests merged in 2025-07, with the labels that each got.

#86 Fixed the PAYDAY masks baldifying people
  Resources/Prototypes/_LateStation/Entities/Clothing/Masks/masks.yml
Labels: Changes: No C#, S: Needs Review, size/S

#88 Anomaly Locator added to science locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/science.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#92 Streetpunk accent ported from Frontier
  Content.Server/_NF/Speech/Components/StreetpunkAccentComponent.cs
  Content.Server/_NF/Speech/EntitySystems/StreetpunkAccentSystem.cs
  Resources/Locale/en-US/_LateStation/traits/traits.ftl
  Resources/Locale/en-US/_NF/accent/streetpunk_accent.ftl
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
  Resources/Prototypes/_NF/Accents/Traits/speech.yml
  Resources/Prototypes/_NF/Accents/word_replacements.yml
Labels: size/L, S: Needs Review

#95 Upstream-11/07/2025 PT 2
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertengineer.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertengineer.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertengineer.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertjanitor.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertjanitor.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertjanitor.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertleader.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertleader.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertleader.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertmedical.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertmedical.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertmedical.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertsecurity.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertsecurity.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertsecurity.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-light-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-unshaded-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/basic.rsi/equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/deathsquad.rsi/equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/deathsquad.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/engineering-white.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering-white.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/salvage.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/salvage.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/security-red.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/security-red.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/security-warden.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/security-warden.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/security-warden.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/security.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/security.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-light-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-unshaded-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/combat-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/wizard.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/wizard.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/_LateStation/PersonalItems/irisglasses.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#96 fixes undergarment sprites
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_CD/Species/avali.yml
  Resources/Prototypes/_DV/Species/harpy.yml
  Resources/Prototypes/_Harmony/Species/vulpkanin.yml
Labels: Changes: No C#, S: Needs Review, size/S

#97 Admeme bluespace storage and scurret suit slot fixes
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/InventoryTemplates/scurret_inventory_template.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_LateStation/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: No C#, S: Needs Review, size/S

#99 Vanquish
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_LateStation/shuttles/emergency_vanquish.yml
  Resources/Maps/_LateStation/vanquish.yml
  Resources/Prototypes/_LateStation/Maps/vanquish.yml
Labels: size/XL, Changes: Map, S: Needs Review
